body{
    background: url('https://media1.s-nbcnews.com/i/newscms/2017_49/1302233/low-calorie-diets-today-tease-171207_b44b5d6212f4d3bafc2a504ea6d2b3ad.jpg') 0 0 no-repeat / cover;
  padding-bottom: 65.89%;
  height: 0;
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 32px;
}