body{
    background: url('https://article.images.consumerreports.org/prod/content/dam/CRO%20Images%202018/Health/May/CR-Health-Inlinehero-eat-more-fruit-0518.jpg') 0 0 no-repeat / cover;
  padding-bottom: 65.89%;
  height: 0;
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 32px;
}